{% extends "general/layout.html" %}

{% block page_content %}
<div class="container mt-4">
  <div class="logo-container">
    <img src="{{ liga.logo.url }}" alt="Logo de {{ liga.nombre }}" style="width: 250x; height: 175px; display: block; margin: 0 auto; background-color: #f8f9fa; border-radius: 5px; padding: 10px;">
  </div>
</div>

<h2>Equipos de esta liga:</h2>
<ul>
  {% for equipo in liga.equipos.all %}
    <li>
      <a href="{% url 'equipo_detail' equipo.pk %}">
        <img src="{{ equipo.logo.url }}" alt="{{ equipo.nombre }}" class="logo-equipo">
        {{ equipo.nombre }}
      </a>
    </li>  
  {% empty %}
    <li><h3>No hay equipos en esta liga.</h3></li>
  {% endfor %}
</ul>
{% endblock %}
