<h1>{{ jugador.nombre }}{{ equipo.logo }}</h1>
<p>Posicion: {{ jugador.posicion }}</p>
<p>Edad: {{ jugador.edad }}</p>
<p>Pais: {{ jugador.pais }}</p>

<h2>Estadísticas Jugador:</h2>
<p>Goles: {{ jugador.goles }}</p>
<p>Asistencias: {{ jugador.asistencias }}</p>
<p>G+A: {{ jugador.goles_asistencias }}</p>
<p>Tarjetas Amarillas: {{ jugador.tarjetas_amarillas }}</p>
<p>Tarjetas Rojas: {{ jugador.tarjetas_rojas }}</p>
<p>Partidos Jugados: {{ jugador.partidos_jugados }}</p>
<p>Minutos Jugados: {{ jugador.minutos_jugados }}</p>