# Archivos de Python
*.pyc
__pycache__/
*.pyo
*.pyd

# Migraciones de Django
*/migrations/*

# Archivos de entorno
.env
*.sqlite3

# Archivos estáticos y de medios (si los generas dinámicamente)
staticfiles/
media/

# Configuración de IDEs
.vscode/
.idea/

estructura_proyecto.php
h origin main
