/* Imagen de fondo en toda la página */
body {
  background-image: url('/static/metropolitano.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh; /* Asegura que la imagen cubra toda la altura de la pantalla */
  margin: 0;
}

/* Estilos para el contenedor */
.container.mt-5 {
  background-color: rgba(255, 255, 255, 0.6); /* Fondo blanco semitransparente para el contenedor */
  border-radius: 15px; /* Bordes redondeados */
  padding: 50px; /* Forzar el estilo */
  margin-top: 20vh;
}

/*Estilos para las tarjetas(ligas)*/
.card{
  border: 5px solid rgba(247, 24, 24, 0.3);
  background-color: rgba(255, 255, 255, 0.2); /* Fondo blanco semitransparente para el contenedor */
}

.card:hover{
  border: 5px solid rgba(247, 24, 24, 0.6);
  background-color: rgba(255, 255, 255, 0.5);
}

.card img{
  object-fit: contain; 
  height: 400px;
}

.home p{
  margin-top: 100px;
  margin-bottom: 1rem;
  text-align: -webkit-center;
}