{% extends "general/layout.html" %}

{% block page_content %}
<div class="container mt-5">
  <section class="contacto">
    <h1 style= 'text-align: center'>Pagina de Contacto</h1>
    <p>Si quieres ponerte en contacto conmigo, puedes hacerlo a través de mi correo electrónico:
      <a href="mailto:albertillo_ec@hotmail.com"></a>
    </p>
    <p>Si prefieres, también puedes encontrarme en mis redes sociales:</p>
    <ul>
      <li><a href="https://www.linkedin.com/in/alberto-contento-guerrero/">Linkedin</a></li>
      <li><a href="https://github.com/AlbertoContento/AlbertoContento">Github</a></li>
    </ul>
      <p>Esta pagina está hecha por Alberto Contento Guerrero en Django usando Bootstra, Git y MySQl.
  </section>
  </div>
{% endblock %}
