{% extends "general/layout.html" %}

{% block page_content %}
<div class="logos-left" style="
position: fixed; 
left: 0; 
top: 0; 
transform-origin: top left;
display: flex;
flex-direction: column;
justify-content: flex-start;
height: 100vh;
width: 40px;
margin-top: 58px;
gap: 4px;">
  {% for logo in logos_laliga %}
      <img src="{{ logo }}" alt="Logo" class="contact-logo" style="width: 28px; height: 28px;">
  {% endfor %}
</div>

<div class="logos-bottom" style="
position: fixed; 
left: 0; 
bottom: 0;
right: 0;
display: flex;
justify-content: center;
gap: 43px;
margin-left: 30px;
">
  {% for logo in logos_premier %}
      <img src="{{ logo }}" alt="Logo" class="contact-logo" style="width: 30px; height: 30px;">
  {% endfor %}
</div>

<div class="logos-right" style="
position: fixed; 
right: 0; 
top: 0; 
transform-origin: top right;
display: flex;
flex-direction: column;
justify-content: flex-end;
height: 100vh;
width: auto;
padding-top: 150px;">
  {% for logo in logos_serie_a %}
      <img src="{{ logo }}" alt="Logo" class="contact-logo" style="width: 35px; height: 35px;">
  {% endfor %}
</div>

<div class="container mt-5">
  <section class="contacto">
    <h1 style= 'text-align: center'>Pagina de Contacto</h1>
    <p>Si quieres ponerte en contacto conmigo, puedes hacerlo a través de mi correo electrónico:
      <a href="mailto:albertillo_ec@hotmail.com"></a>
    </p>
    <p>Si prefieres, también puedes encontrarme en mis redes sociales:</p>
    <ul>
      <li><a href="https://www.linkedin.com/in/alberto-contento-guerrero/">Linkedin</a></li>
      <li><a href="https://github.com/AlbertoContento/AlbertoContento">Github</a></li>
    </ul>
      <p>Esta pagina está hecha por Alberto Contento Guerrero en Django usando Bootstra, Git y MySQl.
  </section>
  </div>
{% endblock %}
<style>
  .contact-logo {
    width: 50px; /* Ajusta el tamaño del logo */
    margin: 10px; /* Espaciado entre los logos */
  }

  .contacto {
    position: relative;
    padding-bottom: 100px; /* Espacio para los logos en la parte inferior */
  }

  .logos-container {
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;
  }
</style>